image: maven:3.9-eclipse-temurin-17

default:
  tags:
    - local

stages:
  - build
  - test
  - package
  - deploy

cache:
  paths:
    - .m2/repository

build:
  stage: build
  script:
    - .\mvnw.cmd $MAVEN_CLI_OPTS compile

test:
  stage: test
  script:
    - .\mvnw.cmd $MAVEN_CLI_OPTS test

package:
  stage: package
  script:
    - .\mvnw.cmd $MAVEN_CLI_OPTS package
  artifacts:
    paths:
      - target/*.jar

deploy:
  stage: deploy
  script:
    # clean + deploy vers ton repo maven-releases (déclaré dans <distributionManagement>)
    - .\mvnw.cmd $MAVEN_CLI_OPTS clean deploy
  only:
    - master   
