image: maven:3.9-eclipse-temurin-17

default:
  tags:
    - local

stages:
  - build
  - test
  - package
  - deploy

cache:
  paths:
    - .m2/repository

build:
  stage: build
  script:
    - .\mvnw.cmd -s .maven/settings.xml --batch-mode compile

test:
  stage: test
  script:
    - .\mvnw.cmd -s .maven/settings.xml --batch-mode test

package:
  stage: package
  script:
    - .\mvnw.cmd -s .maven/settings.xml --batch-mode package
  artifacts:
    paths:
      - target/*.jar

deploy:
  stage: deploy
  script:
    - .\mvnw.cmd -s .maven/settings.xml --batch-mode clean deploy
  only:
    - master
